@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


.quill-editor .ql-container.ql-snow {
    border: 1px solid #ccc;
    min-height: 200px;
  }
  .dark .quill-editor .ql-container.ql-snow {
    background-color: #1f2937;
    color: #f3f4f6;
    border-color: #4b5563;
  }
  .dark .quill-editor .ql-toolbar.ql-snow {
    background-color: #1f2937;
    border-color: #4b5563;
  }
  .dark .quill-editor .ql-editor {
    color: #f3f4f6;
  }
  .ql-snow .ql-picker {
    color: inherit;
  }
  .ql-snow .ql-stroke {
    stroke: currentColor;
  }
  .ql-snow .ql-fill {
    fill: currentColor;
  }

